@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Old+Standard+TT&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('images/texture.jpg') no-repeat center;
    background-size: cover;
}
/* header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    height: 10vh;
    width: 100%;
    background: #f4eedf;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'El Messiri', sans-serif;
    color: #805d21;
}

nav a:hover {
    color: #2c5d7c;
}

h1 { 
    font-size: 2.5em;
    font-family: 'El Messiri', sans-serif;
}
/* Main part of the page */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    width: 50vw;
    height: 70vw;
    background: url('images/photo2.jpeg') no-repeat center yellowgreen;
    background-size: cover;
    border-radius: 0 10%;
}

article {
    margin: 0.5em 1.5em 2.5em 1.5em;
}

h2 {
    font-family: 'El Messiri', sans-serif;
    color: #853109;
}

p {
    font-size: 1.25em;
    font-family: 'Old Standard TT', serif;
}

main a {
    padding: 1em;
    margin: 2.5em 0;
    background: #f4eedfca;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.5em;
    color: #805d21;
    font-family: 'El Messiri', sans-serif;
    transition: 0.5s;
}

main a:hover {
    transform: scale(1.05, 1.05);
    color: #2c5d7c;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 650px) and (max-width: 1200px){
    nav a {
        font-size: 2em;
    }
    
    main {
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
    }

    figure {
        width: 40vw;
        height: 65vw;
        margin-right: 20px;
    }

    article {
        width: 40vw;
        margin-bottom: 3.5em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }
    p {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1201px) {
    nav a {
        font-size: 2.5em;
    }

    main {
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        width: 100vw;
    }

    figure {
        width: 30vw;
        height: 45vw;
    
    }

    section {
        width: 45vw;
    }

    article {
        padding-bottom: 1em;
    }

    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.75em;
    }

    main a {
        margin: 3em 30vw;
    }


}