@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Old+Standard+TT&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: url('images/texture.jpg') no-repeat center;
    background-size: cover;
}
/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    height: 10vh;
    width: 100%;
    background: #f4eedf;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'El Messiri', sans-serif;
    color: #805d21;
}

nav a:hover {
    color: #2c5d7c;
}

h1 {
    font-size: 2.5em;
    font-family: 'El Messiri', sans-serif;
}
/* Main Part of the Page*/
main {
    display: flex;
    flex-direction: column;
    margin: 0.25em;
}
/* Links to the Blog Posts */
main a {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: #f0ebdad2;
    margin: 0.5em;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    height: 20vh;
}

main a:hover {
    box-shadow: 3px 3px 4px #2c5d7c;
}

figure {
    width: 33vw;
    height: 20vh;
    margin: 5px;
    align-self: center;
}

h2 {
    width: 48vw;
    font-size: 1.25em;
    font-family: 'El Messiri', sans-serif;
    margin-top: 0;
    color: #853109;
}

p {
    margin: 0;
    font-family: 'Old Standard TT', serif;
}

#pic1 {
    background:url('images/gallery.jpeg') no-repeat center rgb(0, 255, 110);
    background-size: cover;
}

#pic2 {
    background:url('images/walking-tracks.jpeg') no-repeat center blue;
    background-size: cover;
}

#pic3 {
    background:url('images/investment.jpg') no-repeat center gold;
    background-size: cover;
}

#pic4 {
    background:url('images/composer.jpg') no-repeat center  rgb(82, 36, 16);
    background-size: cover;
}

#pic5 {
    background:url('images/winter.jpg') no-repeat center darkgreen;
    background-size: cover;
}
/* Sidebar */
aside {
    width: 100%;
    background: #f4eedf;
    padding: 1em 0 2em 0;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    width: 60vw;
    margin-top: 1em;
}

#searchbar {
    flex-direction: row;
}

img {
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

#subscriptionform {
    flex-direction: column;
    align-items: center;
    background: #fadc97;
    border: 3px dashed #8b6621;
    padding: 1em;
    margin-top: 3em;
}

h3 {
    font-size: 1.2em;
    font-family: 'El Messiri', sans-serif;
    color:#714d0f;
}

label {
    font-family: 'Old Standard TT', serif;
}

#submit-button {
    width: 60px;
}


input {
    width: 40vw;
    height: 25px;
}

footer {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:650px) and (max-width:1200px) {
    nav a {
        font-size: 2em;
    }

    h1 {
        font-size: 3em;
    }
    
    main {
        width: 58vw;
        margin-left: 1em;
    }

    main a {
        flex-flow: column nowrap;
        align-items: center;
        height: 50vw;
    }

    figure {
        width: 45vw;
        height: 30vw;
    }

    h2 {
        font-size: 1.75em;
        margin-top: 0.5em;
    }

    p {
        font-size: 1.25em;
    }

    aside {
        width: 30vw;
        height: 58vh;
        margin: 0;
        position: fixed;
        left: 63vw;
        top: 25vh;
        padding: 1em;
    }

    form {
        width: 25vw;
    }

    input {
        width: 24vw;
    }

    #searchbar {
        position: relative;
        left: -20px;
    }

    h3 {
        font-size: 1.5em;
    }

    label {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 1201px) {
    nav a {
        font-size: 2.5em;
    }

    h1 {
        font-size: 3.5em;
    }
    
    main {
        width: 65vw;
        margin: 0 2em 2em 2em;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    main a {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        width: 28vw;
        height: 38vw;
        margin: 1em;
    }

    figure {
        width: 26vw;
        height: 18vw;
        flex: 1;
    }

    div {
        flex:1;
    }

    h2 {
        font-size: 2em;
        width: 26vw;
        padding-top: 1em;
    }

    p {
        font-size: 1.5em;
    }

    aside {
        width: 25vw;
        max-width: 500px;
        height: 58vh;
        margin: 0;
        position: fixed;
        left: 70vw;
        top: 25vh;
        padding: 1em;
    }

    form {
        width: 20vw;
        max-width: 415px;
    }

    input {
        width: 15vw;
        max-width: 300px;
    }

    #searchbar {
        position: relative;
        left: -20px;
    }

    h3 {
        font-size: 1.75em;
    }

    label {
        font-size: 1.5em;
    }
}
