body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    height: 10vh;
    width: 100%;
    background: #e1dfd5;
    justify-content: space-around;
}

nav a {
    padding: 1em;
    text-decoration: none;
    font-size: 1.5rem;
    color: black
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

main a {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: #e1dfd591;
    margin: 0.5em;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    height: 20vh;
}

figure {
    width: 33vw;
    height: 20vh;
    margin: 5px;
    align-self: center;
    border-radius: 10px;
}

h2 {
    width: 43vw;
    padding-top: 0.5em;
    font-size: 1.25em;
}

p {
    align-self: left;
}

#pic1 {
    background:url('images/gallery.jpeg') no-repeat center rgb(0, 255, 110);
    background-size: cover;
}

#pic2 {
    background:url('images/walking-tracks.jpeg') no-repeat center blue;
    background-size: cover;
}

#pic3 {
    background:url('images/investment.jpg') no-repeat center gold;
    background-size: cover;
}

#pic4 {
    background:url('images/composer.jpg') no-repeat center  rgb(82, 36, 16);
    background-size: cover;
}

#pic5 {
    background:url('images/winter.jpg') no-repeat center darkgreen;
    background-size: cover;
}

aside {
    width: 100vw;
    height: 55vh;
    background: #e1dfd5;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 40vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

#subscriptionform {
    background: #f4eedf;
    border: 3px dashed rgb(139, 102, 33);
    padding: 1em;
    margin-top: 3em;

}

#submit-button {
    width: 60px;
}

footer {
    display: flex;
    justify-content: center;
}