body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    height: 10vh;
    width: 100%;
    background: #e1dfd5;
    justify-content: space-around;
}

nav a {
    padding: 1em;
    text-decoration: none;
    font-size: 1.5rem;
    color: black
}

h1 {
    font-size: 2.5em;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0.25em;
}

main a {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: #e1dfd591;
    margin: 0.5em;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    height: 20vh;
}

figure {
    width: 33vw;
    height: 20vh;
    margin: 5px;
    align-self: center;
}

h2 {
    width: 45vw;
    padding-top: 0.5em;
    font-size: 1.25em;
}

p {
    align-self: left;
}

#pic1 {
    background:url('images/gallery.jpeg') no-repeat center rgb(0, 255, 110);
    background-size: cover;
}

#pic2 {
    background:url('images/walking-tracks.jpeg') no-repeat center blue;
    background-size: cover;
}

#pic3 {
    background:url('images/investment.jpg') no-repeat center gold;
    background-size: cover;
}

#pic4 {
    background:url('images/composer.jpg') no-repeat center  rgb(82, 36, 16);
    background-size: cover;
}

#pic5 {
    background:url('images/winter.jpg') no-repeat center darkgreen;
    background-size: cover;
}

aside {
    width: 100vw;
    background: #e1dfd5;
    padding: 1em;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    width: 60vw;
}

#searchbar {
    flex-direction: row;
}

img {
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

#subscriptionform {
    flex-direction: column;
    align-items: center;
    background: #f4eedf;
    border: 3px dashed #8b6621;
    padding: 1em;
    margin-top: 3em;
}

#submit-button {
    width: 60px;
}


input {
    width: 40vw;
    height: 25px;
}

footer {
    display: flex;
    justify-content: center;
}

@media screen and (min-width:650px) and (max-width:1200px) {
    nav a {
        font-size: 2em;
        padding: 0.5em;
    }

    h1 {
        font-size: 3em;
    }
    
    main {
        width: 58vw;
        margin-left: 1em;
    }

    main a {
        flex-flow: column nowrap;
        height: 55vw;
    }

    figure {
        width: 45vw;
        height: 30vw;
    }

    h2 {
        font-size: 1.75em;
    }

    p {
        font-size: 1.25em;
    }

    aside {
        width: 30vw;
        height: 58vh;
        margin: 0;
        position: fixed;
        left: 63vw;
        top: 25vh;
    }

    form {
        width: 25vw;
    }

    input {
        width: 24vw;
    }

    #searchbar {
        position: relative;
        left: -20px;
    }

    h3 {
        font-size: 1.5em;
    }

    label {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 1201px) {
    nav a {
        font-size: 2.5em;
        padding: 0.3em;
    }

    h1 {
        font-size: 3.5em;
    }

    h1 {
        font-size: 3em;
    }
    
    main {
        width: 58vw;
        margin-left: 1em;
    }

    main a {
        flex-flow: column nowrap;
        height: 55vw;
    }

    figure {
        width: 45vw;
        height: 30vw;
    }

    h2 {
        font-size: 1.75em;
    }

    p {
        font-size: 1.25em;
    }

    aside {
        width: 30vw;
        height: 58vh;
        margin: 0;
        position: fixed;
        left: 63vw;
        top: 25vh;
    }

    form {
        width: 25vw;
    }

    input {
        width: 24vw;
    }

    #searchbar {
        position: relative;
        left: -20px;
    }

    h3 {
        font-size: 1.5em;
    }

    label {
        font-size: 1.25em;
    }
}