body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Nav bar */
nav {
    display: flex;
    height: 50px;
    width: 100%;
    background: rgb(238, 226, 183);
    justify-content: space-around;
}

nav a {
    padding: 1em;
    text-decoration: none;
}
/* Header */
header {
    display: flex;
    height: 70vw;
    justify-content: center;
    margin-top: 1.5rem;
}

figure {
    width: 70vw;
    height: 70vw;
    background:rgb(238, 226, 183);
    border-radius: 50%;
}
/* Contact information */
.contact-info {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    margin:0;
    padding-top: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin: 0;
    padding-top: 0.5rem;
}

p {
    font-size: 1.5rem;
    margin: 0;
    padding-top: 0.5rem;
}
/* Social links */



